@media (min-width: 600px) {

    header {
        margin-bottom: 20px;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: right;
    }

    li {
        margin: 5px;
    }

    article {
        
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    .post-date {
        margin-top: 20px;
    }

    section {
        border-bottom: solid 1px #d0d0d0;
        border-top: none;
        border-left: solid 1px #d0d0d0;
    }

    .post-content {
        border-top: none;
    }

    figure img {
        margin: auto 20%;
        width: 300px;
    }
}