$header-font: Arial, "noto sans", sans-serif;
$primary-color: #007da5;
$secondary-color: #003057;
$grey: rgb(33, 34, 37);
$left-margins: 15px;
$transition: 0.3s;
$border-radius: 2px;

body {
    margin: 0%;
    
}

main {
    font-family: $header-font;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;

    .ham-menu {
        min-width: 32px;
        width: 32px;
        height: 30px;
        background-color: $primary-color;
        padding: 25px 12px;
    }

    .light-rays {
        max-width: 70px;
        height: 100%;
        margin-right: auto;
        
    }

    .church-name {
        margin-right: auto;
        height: 100%;
        width: fit-content;
    }

    #searchIcon, 
    #churchIcon, 
    #languageIcon,
    #resourcesIcon {
        margin-right: 2%;
    }

    #searchIcon:hover {
        cursor: pointer;
        fill: $primary-color;
    }



    #profileSVG {
        background-color: $primary-color;
        margin-right: 5%;
        padding: 5px 10px;
        fill: white;
    }

    #profileSVG:hover {
        cursor: pointer;
        background-color: $secondary-color;
        transition: $transition;
    }
}

.hero {
    font-family: $header-font;
    color: $grey;

    &__line {
        padding: 2px;
        margin-left: $left-margins;
        margin-top: 10px;
        width: 55px;
        background-color: $primary-color;
    }

    &__img {
        
        width: 100%;
        // position: absolute;
        // z-index: -1;
    }

    h1 {
        margin: 0%;
        margin-top: 5px;
        max-width: 70%;
        font-size: 40px;
        margin-left: $left-margins;
    }

    p {
        margin-left: $left-margins;
    }

    &__button {
        margin-left: $left-margins;
        font-size: 16px;
        padding: 9px 16px;
        background-color: $primary-color;
        border: none;
        border-radius: $border-radius;
        color: white;
    }

    &__button:hover {
        cursor: pointer;
        background-color: $secondary-color;
        transition: $transition;
    }
}

.believe {
    margin-top: 80px;
    margin-left: $left-margins;
    color: #424c53;

    h2 {
        font-size: 30px;
        font-weight: 100;
        margin-bottom: 10px;
    }

    p {
        font-size: 17px;
        font-weight: 100;
        margin-bottom: 0%;
    }

    svg {
        width: 16px;
        padding: 3px;
        border-radius: $border-radius;
        margin: 5px auto 30px auto;
        fill: white;
        background-color: $primary-color;
    }

    svg:hover {
        cursor: pointer;
        background-color: $secondary-color;
        transition: $transition;
    }

    &__section {
        display: flex;

        &__img {
            max-width: 45%;
            max-height: 55%;
            overflow: hidden;
            margin-bottom: 5px;

            img {
                width: 100%;
                height: 100%;
            }

            img:hover {
                cursor: pointer;
                transform: scale(1.05);
                transition: 1.5s;
            }
        }

        &__text {
            margin-left: auto;
            margin: 5px 20px 0px 15px;

            h3 {
                margin: 0%;
            }
        }
    }
}

.card {
    margin: 50px 15px;

    &__img {
        overflow: hidden;
        background-color: aqua;
        width: 100%;
        


        img {
            width: 100%; 
            height: auto; 
            display: block;
        }

        img:hover {
            transform: scale(1.05);
            transition: 1.5s;
        }
    }

    &__text {
        margin: 8px auto;

        &__div {
            padding: 5%;
            color: white;
            background-color: $primary-color;
            background-image: url("../images/blue-background.png");
            background-repeat: no-repeat;
            background-size: cover;

        
            h2 {
                margin: 0%;
                font-size: 30px;
                font-weight: 100;
            }

            p {
                line-height: 1.5;
                margin: 30px auto;
            }

            label {
                font-size: 14px;
                font-weight: 600;
            }

            .input-div {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
            }

            #card-input {
                margin-top: 8px;
                margin-right: 10px;
                min-width: 80%;
                padding: 12px;
                border-radius: $border-radius;
                border: #424c53;
                font-size: 16px;
                
            }

            #card-input::placeholder {
                color: #b9b8b8;
            }

            .button-card, .button-card__req {
                cursor: pointer;
                margin-top: 8px;
                margin-right: auto;
                width: 60px;
                padding: 10px;
                font-size: 16px;
                border-radius: $border-radius;
                border: #424c53;
                color: $primary-color;

                &__req {
                    width: 140px;
                }
            }

            .button-card:hover, .button-card__req:hover {
                background-color: $secondary-color;
                color: white;
                transition: $transition;
            }
        }
    }
}

.questions {
    margin: 140px 15px;

    h2 {
        margin: 0%;
        margin-bottom: 30px;
        font-size: 34px;
        font-weight: 100;
    }

    .details {
        margin-left: 1rem;
        margin-bottom: 45px;
        display: grid;
        grid-template-columns: 1fr auto;
        grid-gap: 10px;
        border-bottom: 1px solid rgb(226, 226, 226);
        padding: 8px 20px;
        align-items: center;

        p {
            font-weight: 600;
            color: rgb(85, 85, 85);
            
        }

        svg {
            width: 24px;
            fill: $primary-color;
        }
    }

    .details:hover {
        cursor: pointer;
        background-color: rgb(240, 240, 240);
    }
}

.hope {
    margin: 80px 15px;
    text-align: center;
    font-weight: 100;

    h2 {
        font-weight: 100;
        font-size: 30px;
    }

    &__quote {
        margin: 10px 40px;
        font-size: 18px;
        line-height: 1.8rem;
        color: #505961;

        a {
            color: $primary-color;
        }

        a:hover {
            text-decoration: none;
        }
    }

    &__author {
        display: grid;
        grid-template-columns: auto 1fr;
        text-align: left;
        width: 350px;
        margin: 40px auto;

        &__img {
            grid-row: 1/3;
            border-radius: 100%;
            overflow: hidden;
            background-color: aqua;

            img {
                width: 80px; 
                display: block;
            }
        }

        &__name {
            font-size: 18px;
            margin: 0%;
            margin-left: $left-margins;
            align-self: self-end;
            font-weight: 700;
        }

        &__name:hover {
            cursor: pointer;
            color: $primary-color;
        }

        &__church {
            margin: 0%;
            font-size: 14px;
            margin-left: $left-margins;
            line-height: 1.3rem;
        }
    }
}

.community {
    margin: auto 20px;

    h2 {
        font-size: 32px;
        font-weight: 100;
        text-align: center;
    }

    &__div {
        text-align: center;
        line-height: 1.5rem;

        h3 {
            font-size: 20px;
        }
        
        &__img {
            width: 250px;
            height: 250px;
            border-radius: 50%;
            overflow: hidden;
            display: flex; 
            align-items: center;
            justify-content: center;
            margin: 10px auto 50px auto;
                
            img {
                width: auto;
                height: 100%;
            }
        }

        &__button {
            margin-left: $left-margins;
            font-size: 16px;
            padding: 9px 16px;
            background-color: $primary-color;
            border: none;
            border-radius: $border-radius;
            color: white;
            margin-bottom: 50px;
        }

        &__button:hover {
            cursor: pointer;
            background-color: $secondary-color;
            transition: $transition;
        }
    }
}