body {
  margin: 0%;
}

main {
  font-family: Arial, "noto sans", sans-serif;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80px;
}
header .ham-menu {
  min-width: 32px;
  width: 32px;
  height: 30px;
  background-color: #007da5;
  padding: 25px 12px;
}
header .light-rays {
  max-width: 70px;
  height: 100%;
  margin-right: auto;
}
header .church-name {
  margin-right: auto;
  height: 100%;
  width: fit-content;
}
header #searchIcon,
header #churchIcon,
header #languageIcon,
header #resourcesIcon {
  margin-right: 2%;
}
header #searchIcon:hover {
  cursor: pointer;
  fill: #007da5;
}
header #profileSVG {
  background-color: #007da5;
  margin-right: 5%;
  padding: 5px 10px;
  fill: white;
}
header #profileSVG:hover {
  cursor: pointer;
  background-color: #003057;
  transition: 0.3s;
}

.hero {
  font-family: Arial, "noto sans", sans-serif;
  color: rgb(33, 34, 37);
}
.hero__line {
  padding: 2px;
  margin-left: 15px;
  margin-top: 10px;
  width: 55px;
  background-color: #007da5;
}
.hero__img {
  width: 100%;
}
.hero h1 {
  margin: 0%;
  margin-top: 5px;
  max-width: 70%;
  font-size: 40px;
  margin-left: 15px;
}
.hero p {
  margin-left: 15px;
}
.hero__button {
  margin-left: 15px;
  font-size: 16px;
  padding: 9px 16px;
  background-color: #007da5;
  border: none;
  border-radius: 2px;
  color: white;
}
.hero__button:hover {
  cursor: pointer;
  background-color: #003057;
  transition: 0.3s;
}

.believe {
  margin-top: 80px;
  margin-left: 15px;
  color: #424c53;
}
.believe h2 {
  font-size: 30px;
  font-weight: 100;
  margin-bottom: 10px;
}
.believe p {
  font-size: 17px;
  font-weight: 100;
  margin-bottom: 0%;
}
.believe svg {
  width: 16px;
  padding: 3px;
  border-radius: 2px;
  margin: 5px auto 30px auto;
  fill: white;
  background-color: #007da5;
}
.believe svg:hover {
  cursor: pointer;
  background-color: #003057;
  transition: 0.3s;
}
.believe__section {
  display: flex;
}
.believe__section__img {
  max-width: 45%;
  max-height: 55%;
  overflow: hidden;
  margin-bottom: 5px;
}
.believe__section__img img {
  width: 100%;
  height: 100%;
}
.believe__section__img img:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 1.5s;
}
.believe__section__text {
  margin-left: auto;
  margin: 5px 20px 0px 15px;
}
.believe__section__text h3 {
  margin: 0%;
}

.card {
  margin: 50px 15px;
}
.card__img {
  overflow: hidden;
  background-color: aqua;
  width: 100%;
}
.card__img img {
  width: 100%;
  height: auto;
  display: block;
}
.card__img img:hover {
  transform: scale(1.05);
  transition: 1.5s;
}
.card__text {
  margin: 8px auto;
}
.card__text__div {
  padding: 5%;
  color: white;
  background-color: #007da5;
  background-image: url("../images/blue-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.card__text__div h2 {
  margin: 0%;
  font-size: 30px;
  font-weight: 100;
}
.card__text__div p {
  line-height: 1.5;
  margin: 30px auto;
}
.card__text__div label {
  font-size: 14px;
  font-weight: 600;
}
.card__text__div .input-div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card__text__div #card-input {
  margin-top: 8px;
  margin-right: 10px;
  min-width: 80%;
  padding: 12px;
  border-radius: 2px;
  border: #424c53;
  font-size: 16px;
}
.card__text__div #card-input::placeholder {
  color: #b9b8b8;
}
.card__text__div .button-card, .card__text__div .button-card__req {
  cursor: pointer;
  margin-top: 8px;
  margin-right: auto;
  width: 60px;
  padding: 10px;
  font-size: 16px;
  border-radius: 2px;
  border: #424c53;
  color: #007da5;
}
.card__text__div .button-card__req, .card__text__div .button-card__req__req {
  width: 140px;
}
.card__text__div .button-card:hover, .card__text__div .button-card__req:hover {
  background-color: #003057;
  color: white;
  transition: 0.3s;
}

.questions {
  margin: 140px 15px;
}
.questions h2 {
  margin: 0%;
  margin-bottom: 30px;
  font-size: 34px;
  font-weight: 100;
}
.questions .details {
  margin-left: 1rem;
  margin-bottom: 45px;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 10px;
  border-bottom: 1px solid rgb(226, 226, 226);
  padding: 8px 20px;
  align-items: center;
}
.questions .details p {
  font-weight: 600;
  color: rgb(85, 85, 85);
}
.questions .details svg {
  width: 24px;
  fill: #007da5;
}
.questions .details:hover {
  cursor: pointer;
  background-color: rgb(240, 240, 240);
}

.hope {
  margin: 80px 15px;
  text-align: center;
  font-weight: 100;
}
.hope h2 {
  font-weight: 100;
  font-size: 30px;
}
.hope__quote {
  margin: 10px 40px;
  font-size: 18px;
  line-height: 1.8rem;
  color: #505961;
}
.hope__quote a {
  color: #007da5;
}
.hope__quote a:hover {
  text-decoration: none;
}
.hope__author {
  display: grid;
  grid-template-columns: auto 1fr;
  text-align: left;
  width: 350px;
  margin: 40px auto;
}
.hope__author__img {
  grid-row: 1/3;
  border-radius: 100%;
  overflow: hidden;
  background-color: aqua;
}
.hope__author__img img {
  width: 80px;
  display: block;
}
.hope__author__name {
  font-size: 18px;
  margin: 0%;
  margin-left: 15px;
  align-self: self-end;
  font-weight: 700;
}
.hope__author__name:hover {
  cursor: pointer;
  color: #007da5;
}
.hope__author__church {
  margin: 0%;
  font-size: 14px;
  margin-left: 15px;
  line-height: 1.3rem;
}

.community {
  margin: auto 20px;
}
.community h2 {
  font-size: 32px;
  font-weight: 100;
  text-align: center;
}
.community__div {
  text-align: center;
  line-height: 1.5rem;
}
.community__div h3 {
  font-size: 20px;
}
.community__div__img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto 50px auto;
}
.community__div__img img {
  width: auto;
  height: 100%;
}
.community__div__button {
  margin-left: 15px;
  font-size: 16px;
  padding: 9px 16px;
  background-color: #007da5;
  border: none;
  border-radius: 2px;
  color: white;
  margin-bottom: 50px;
}
.community__div__button:hover {
  cursor: pointer;
  background-color: #003057;
  transition: 0.3s;
}

/*# sourceMappingURL=style.css.map */
